* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #000000;
  --second-text-color: #949494;
  --third-text-color: #c7cace;
  --fourth-text-color: #ff6b08;
  --fifth-text-color: #ffffff;
  --firth-bg-color: #ffffff;
  --sidebar-bg-color: #1e2939;
}

body {
  background-color: var(--firth-bg-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Montserrat;
}

.wrapper {
  background-color: var(--firth-bg-color);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: var(--fifth-text-color);
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /*color: #5b636e;*/
  color: var(--third-text-color);
  text-decoration: none;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700px;
  line-height: 24px;
  color: var(--fourth-text-color);
  /*color: #ffffff;*/
  margin-right: 10px;
}

.contacts-link-type.telefon {
  margin-right: 30px;
}

.tech-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700px;
  line-height: 24px;
  color: var(--fifth-text-color);
  margin-bottom: 20px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--fourth-text-color);
  margin-left: 15px;
}

.tech-skills-text {
  color: var(--third-text-color);
}

.soft-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700px;
  line-height: 24px;
  color: var(--fifth-text-color);
  margin-bottom: 20px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--fourth-text-color);
  margin-left: 15px;
}

.soft-skills-text {
  color: var(--third-text-color);
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  color: var(--second-text-color);
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: var(--second-text-color);
}

.projects-item {
  font-weight: 700;
  margin-left: 15px;
}

.projects-container {
  margin-bottom: 55px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.professional-company {
  color: var(--fourth-text-color);
}

.profession-time {
  color: var(--second-text-color);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.profession-divider {
  color: var(--primary-text-color);
}

.profession-duties {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.profession-duties-item {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.edukation-uniwers {
  color: var(--fourth-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
